Django>=4.2.7
djangorestframework>=3.14.0
django-cors-headers>=4.3.1
polars>=0.0.127
rich>=13.9.2
duckdb>=0.9.3
groq>=0.4.0
langchain-groq>=0.2.0
langchain-core>=0.3.34
langgraph>=0.4.0
python-dotenv>=1.0.1
pandas>=2.2.3

dataclasses-json>=0.6.1